// Put your SCSS here

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*PX => REM 16px*62.5%*/

html {
  font-size: 62.5%;
}
body {
  width: 100vw;
  font: 1.6rem sans-serif;
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  font-weight: lighter;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

* {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  outline: 0;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
  width: 100%;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  &:focus {
    color: rgba(0, 0, 0, 0.95);
    border-color: #85b7d9;
  }
  &::placeholder {
    color: rgba(34, 36, 38, 0.37);
  }
}

/*bibliotheque */
.container {
  width: 80%;
  margin: 0 auto;
  &.vh {
    height: 100vh;
  }
}
//header
.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  &__navbar {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    z-index: 100;
    position: relative;
  }
  &__title {
    font-size: 2em;
    color: white;
    line-height: 1.5em;
    letter-spacing: 0.35em;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  &__menu ul {
    display: flex;
    justify-content: center;
    font-weight: 200;
    li a {
      color: white;
      padding: 1rem 2rem;
    }
  }
  &__menu-burger {
    position: absolute;
    display: none;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 40px;
    svg path {
      fill: white;
    }
  }
}
//footer
.footer {
  background-color: black;
  padding: 10rem 10%;
  margin-top: 5rem;
  &__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-address {
      color: white;
      width: 33%;
    }
    &-title {
      color: white;
      width: 33%;
      text-align: center;
      font-size: 2em;
      font-weight: 200;
      font-style: normal;
      letter-spacing: 0.35em;
    }
    &-details {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      a {
        color: white;
      }
    }
  }
}

/*custom*/

//homepage
.homepage {
  .header {
    background: center / cover no-repeat url("../images/banner-original.png");
    height: 100vh;
    position: relative;
    &__navbar {
      position: fixed;
      top: 1;
      top: 0;
      left: 0;
    }
  }

  .card-banner {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;

    h1 {
      padding: 2rem;
    }
    &__grid {
      background: center / cover no-repeat url("../images/tab-original.png");
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
      width: 100%;
      height: 80vh;
      .item {
        border: 1.2rem solid white;
        transition: border 0.2s;
        &.bcw {
          background-color: white;
        }
        &:hover {
          border: 0 solid white;
        }
      }
    }
  }
  .card-packs {
    display: flex;
    flex-direction: column;

    &__title {
      width: 100%;
      text-align: center;
      font-size: 2em;
      margin: 5rem 0;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 100%;
    }
    &__list {
      display: flex;
      justify-content: space-around;
      width: 100%;
      flex-wrap: wrap;
    }
    .card-pack {
      position: relative;
      border-radius: 3rem;
      padding-top: 2rem;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 2rem;
      &__title {
        position: relative;
        color: white;
        text-align: center;
        font-weight: 600;
        z-index: 1;
        padding: 0 3rem;
        font-size: 1.5em;
      }
      &__content {
        z-index: 1;
        position: relative;
        padding: 2rem 3rem;
        height: 100%;
        ul li {
          color: white;
          &:before {
            content: "\2713";
            margin-right: 1rem;
          }
        }
      }
      &__price {
        padding: 1rem;
        width: 100%;
        display: block;
        text-align: center;
        color: white;
        font-weight: bold;
        z-index: 1;
        position: relative;
        font-size: 2rem;
        &-colors--yellow {
          background-color: rgba(#d3b904, 0.8);
        }
        &-colors--red {
          background-color: rgba(#d00403, 0.8);
        }
        &-colors--black {
          background-color: rgba(#6e706d, 0.8);
        }
      }
      &.card-pack-colors--yellow {
        background: center / cover no-repeat url("../images/yellow.png");
      }
      &.card-pack-colors--red {
        background: center / cover no-repeat url("../images/red.jpg");
      }
      &.card-pack-colors--black {
        background: center / cover no-repeat url("../images/black.jpg");
      }
      &:after {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
    &__subtitle {
      margin-top: 4rem;
      p {
        text-align: center;
        font-weight: normal;
      }
    }
  }
  .card-coverings {
    display: flex;
    flex-direction: column;
    &__title {
      font-size: 2em;
      text-align: center;
      margin: 5rem 0;
    }
    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(16, 1fr);
      grid-auto-flow: column;
      height: 100%;
      .item {
        background-color: yellowgreen;
        border: 1rem solid white;
        min-width: 300px;
      }
      .item:nth-child(1) {
        grid-row: span 8;
        background: center / cover no-repeat url("../images/GRID/1.png");
      }
      .item:nth-child(2) {
        grid-row: span 8;
        background: center / cover no-repeat url("../images/GRID/2.png");
      }
      .item:nth-child(3) {
        grid-row: span 10;
        background: center / cover no-repeat url("../images/GRID/3.png");
      }
      .item:nth-child(4) {
        grid-row: span 6;
        background: center / cover no-repeat url("../images/GRID/4.png");
      }
      .item:nth-child(5) {
        grid-row: span 5;
        background: center / cover no-repeat url("../images/GRID/5.png");
      }
      .item:nth-child(6) {
        grid-row: span 11;
        background: center / cover no-repeat url("../images/GRID/6.png");
      }
    }
  }
}

//contact
.contact {
  .card-contact {
    margin-top: 3rem;
    width: 100vw;
    h1,
    h2 {
      text-align: center;
    }
    .card-contact-title {
      width: 100%;
      margin-bottom: 3rem;
    }
    &__map {
      display: flex;
      margin-top: 3rem;
      justify-content: center;
      align-items: start;
      flex-wrap: wrap;
      align-content: flex-start;

      img {
        width: 40%;
        padding-right: 1rem;
      }
    }
    &__form {
      width: 40%;
      .form-search {
        width: 100%;
        &__input {
        }
      }
      .form-search__list-result {
        .form-search__result {
          border-bottom: 1px solid rgba(34, 36, 38, 0.15);
          display: flex;
          flex-direction: column;
          padding: 1rem;
        }
        .contact-result__resume {
          margin: 0.7rem 0;
          position: relative;
          &::after {
            font-family: "FontAwesome";
            content: "\f107";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        .open .contact-result__resume::after {
          content: "\f106";
        }
        .contact-result__grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1.5rem;
          max-width: 450px;
          * {
            font-size: 1.4rem;
          }
          .grid-title {
            font-weight: 600;
          }
          .grid-hours {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .grid-hours__middle {
              text-align: center;
            }
            .grid-hours__hours.end {
              text-align: end;
            }
            .grid-hours__date {
              font-weight: 500;
            }
          }
        }
      }
    }
    &__mail {
      max-width: 60rem;
      margin: 6rem auto 0;
      .form {
        margin-bottom: 1rem;
      }
      textarea {
        max-height: 500px;
        min-height: 100px;
        max-width: 100%;
        min-width: 100%;
      }
    }
  }
}

//informations
.informations {
  .card-banner {
    height: 100vh;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 5rem;
    &__title {
      width: 100%;
      text-align: center;
      font-size: 2em;
      margin: 5rem 0;
    }
    &__grid {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      width: 80%;
      height: 80vh;
      .items {
        border: 1rem solid white;
        &.items__grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          text-align: center;
          column-gap: 1rem;
          row-gap: 1rem;
        }

        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          transition: transform 0.3s;
          cursor: pointer;

          &.item__21 {
            grid-column: 1;
            grid-row: 2;
            background-color: #f3f3f3;
          }
          &.item__12 {
            grid-column: 2;
            grid-row: 1;
            background-color: #f3f3f3;
          }
          &.item__23 {
            grid-column: 3;
            grid-row: 2;
            background-color: #f3f3f3;
          }
          &:hover {
            transform: scale(1.1);
          }

          h2 {
            font-weight: bold;
          }
        }

        &.bgc__1 {
          background: center / cover no-repeat url(../images/infos1.jpeg);
          border-radius: 3rem;
        }
        &.bgc__2 {
          background: center / cover no-repeat url(../images/infos2.jpeg);
          border-radius: 3rem;
        }
      }
    }
  }
  .card-sponsors {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    &__title {
      width: 100%;
      text-align: center;
      font-size: 2em;
      margin: 5rem 0;
    }
    &__content {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 20px;
      column-gap: 10px;
      align-items: center;
      justify-items: center;
      height: 100%;
      width: 80%;

      .card-sponsor__img {
        width: 100%;
        height: auto;
        display: flex;
      }
    }
  }

  .card-clients {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      width: 100%;
      text-align: center;
      font-size: 2em;
      margin: 5rem 0;
    }
    &__content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card-client {
      position: relative;
      margin: 0 1rem;

      .client-img {
        width: 150px;
        height: 150px;
        background-color: #000;
        border-radius: 50%;
      }
      .client-img__one {
        background: center / cover no-repeat url(../images/GRID/1.png);
      }
      .client-img__two {
        background: center / cover no-repeat url(../images/GRID/2.png);
      }
      .client-img__three {
        background: center / cover no-repeat url(../images/GRID/3.png);
      }
      .client-img__four {
        background: center / cover no-repeat url(../images/GRID/4.png);
      }

      .client-img__overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        height: 150px;
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.35s;
        transform: translate(-50%, -50%);

        h2 {
          font-weight: bold;
          font-size: 32px;
        }
      }

      .client-img__overlay > * {
        transform: translateY(150px);
        transition: transform 0.35s;
      }

      .client-img__overlay:hover {
        opacity: 1;
      }

      .client-img__overlay:hover > * {
        transform: translateY(0);
        transition: transform 0.35s;
      }
    }
  }
}

//service
.service {
  .footer {
    margin-top: 0;
  }
  .contain-service {
    background-image: url("../images/blackcar.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
    height: 100vh;

    .menu-button {
      transition: fill 500ms;
    }

    .outer-circle {
      transform-origin: 60px 60px;
      transition: transform 2s cubic-bezier(0.62, 0.005, 0, 1.005);
    }

    .button {
      max-width: 15rem;
      width: auto;
      background: none;
      border: 0 none;
      font-size: 0;
      cursor: pointer;
      position: relative;

      svg {
        width: 100%;
        height: auto;
      }
      .jante {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
      }

      &:hover {
        .menu-button {
          fill: red;
        }

        .outer-circle {
          transform: rotate(360deg);
        }
      }
    }
    #car2 {
      display: flex;
    }
    .car1-1 {
      > h1 {
        color: white;
        padding: 20rem;
      }
    }

    // PIMP MY SPYDER
    .roue {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      &__bloc2 {
        color: white;
      }
    }
    .custom {
      svg {
        animation: bounce 0.6s ease infinite alternate;
        max-width: 20rem;
        max-height: 20rem;
      }
    }
    @keyframes bounce {
      from {
        transform: translateY(0);
      }
      to {
        transform: translateY(-70px);
      }
    }
    .cardcustom {
      background-color: black;
      border-radius: 30px;
      box-shadow: 0 0 80px #ccc;
      margin: 0 auto 3rem;
      p {
        color: white;
        padding: 2rem;
        padding-bottom: 5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
      }
      .custom {
        display: flex;
        flex: row;
        justify-content: center;
        position: relative;
        padding-left: calc(2rem + 50px);
        &__carcolor {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          position: absolute;
          top: 0;
          left: 2rem;
          .button-red {
            padding: 20px 20px;
            margin: 3px 4px;
            display: inline-block;
            cursor: pointer;
            background: #e91e63;
            background: linear-gradient(top, #e91e63 0%, #d0054a 100%);
            background: -moz-linear-gradient(top, #e91e63 0%, #d0054a 100%);
            background: -webkit-linear-gradient(top, #e91e63 0%, #d0054a 100%);
            border: 1px solid #e81e65;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
            -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
          }
          .button-red:hover {
            opacity: 0.8;
          }
          .button-blue {
            padding: 20px 20px;
            margin: 3px 4px;
            display: inline-block;
            cursor: pointer;
            background: #03a9f4;
            background: linear-gradient(top, #03a9f4 0%, #0090db 100%);
            background: -moz-linear-gradient(top, #03a9f4 0%, #0090db 100%);
            background: -webkit-linear-gradient(top, #03a9f4 0%, #0090db 100%);
            border: 1px solid #03a9f4;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
            -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
          }
          .button-blue:hover {
            opacity: 0.8;
          }
          .button-green {
            padding: 20px 20px;
            margin: 3px 4px;
            display: inline-block;
            cursor: pointer;
            background: #4caf50;
            background: linear-gradient(top, #4caf50 0%, #339637 100%);
            background: -moz-linear-gradient(top, #4caf50 0%, #339637 100%);
            background: -webkit-linear-gradient(top, #4caf50 0%, #339637 100%);
            border: 1px solid #4caf50;
            border-radius: 0px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
            -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
            -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25),
              inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
          }
          .button-green:hover {
            opacity: 0.8;
          }
        }
        &__spyder {
        }
      }
    }
  }
}

@media only screen and (max-width: 1224px) {
  .container {
    width: calc(100% - 6rem);
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    height: auto !important;
  }

  //homePage
  .homepage .card-banner h1 {
    text-align: center;
  }
  .homepage {
    .card-coverings__content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(24, 1fr);
      grid-auto-flow: row;
    }
    .card-coverings .card-coverings__content .item {
      grid-row: span 8;
      min-height: 300px;
    }
  }

  //contact
  .contact .card-contact__map img {
    width: 50%;
  }
  .contact .card-contact__form {
    width: 50%;
  }

  //footer
  .footer {
    padding: 5rem 10%;
  }
  .footer__contact {
    flex-wrap: wrap;
    &-title {
      width: 100%;
      order: -1;
      margin-bottom: 3rem;
    }
    &-address,
    &-details {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 768px) {
  //header
  .header__title {
    text-align: left;
    font-size: 1.5em;
  }
  .header__menu {
    display: none;
    &-burger {
      display: flex;
    }
  }

  //homepage
  .homepage {
    .header {
      background: center / cover no-repeat url("../images/banner-768.png");
      height: 100vh;
      position: relative;
      &__navbar {
        position: fixed;
        top: 1;
        top: 0;
        left: 0;
      }
    }
  }

  .homepage .card-banner__grid {
    background: center/cover no-repeat url(../images/tab-768.png);
  }
  .homepage .card-banner__grid .item {
    border: 0.5rem solid white;
    &.bcw {
      background-color: transparent;
    }
  }
  .homepage {
    .card-coverings__content {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
    .card-coverings .card-coverings__content .item {
      grid-row: span 4;
      min-height: 300px;
    }
    .card-coverings__content .item:nth-child(1) {
      background: center/cover no-repeat url(../images/GRID/1-768.png);
    }
    .card-coverings__content .item:nth-child(2) {
      background: center/cover no-repeat url(../images/GRID/2-768.png);
    }
    .card-coverings__content .item:nth-child(4) {
      background: center/cover no-repeat url(../images/GRID/4-768.png);
    }
    .card-coverings__content .item:nth-child(6) {
      background: center/cover no-repeat url(../images/GRID/6-768.png);
    }
  }
  .homepage .card-packs__list {
    flex-wrap: wrap;
  }

  //contact
  .contact .card-contact__map {
    flex-wrap: wrap;
  }
  .contact .card-contact__map img {
    width: 100%;
    margin: 0 0 2rem 0;
  }
  .contact .card-contact__form {
    width: 100%;
  }

  //informations
  .informations {
    .card-banner {
      height: 80vh;

      .card-banner__grid {
        display: flex;
        flex-direction: column;

        .items {
          text-align: center;

          &.items__grid {
            display: flex;
            flex-direction: column;
          }

          &.bgc__1 {
            display: none;
          }

          &.bgc__2 {
            display: none;
          }
        }
      }
    }

    .card-sponsors {
      margin-bottom: 5rem;

      .card-sponsors__content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }

    .card-clients {
      height: 100vh;
      overflow: hidden;
      &__content {
        width: 80%;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;

        .card-client {
          margin: 0;
          display: flex;
          justify-content: center;

          .client-img {
            width: 200px;
            height: 200px;
          }
          .client-img__one {
            background: center / cover no-repeat url(../images/GRID/1-768.png);
          }
          .client-img__two {
            background: center / cover no-repeat url(../images/GRID/2-768.png);
          }
          .client-img__four {
            background: center / cover no-repeat url(../images/GRID/4-768.png);
          }

          .client-img__overlay {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }

  //service
  .service {
    .car1-1 {
      background-position: center; /* Do not repeat the image */
      > h1 {
        padding: 6rem;
      }
    }
    .roue {
      font-size: 1rem;
      gap: 0rem;
    }
  }

  //footer
  .footer__contact {
    &-title {
      margin-bottom: 2rem;
    }
    &-address,
    &-details {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }
}

@media screen and (max-width: 375px) {
  .informations {
    .card-banner {
      height: 100%;

      .card-banner__title {
        margin: 2rem 0;
      }
      .card-banner__grid {
        display: flex;
        flex-direction: column;
        height: 100%;

        .items {
          align-items: center;

          &.items__grid {
            display: flex;
            flex-direction: column;

            .item {
              margin-bottom: 20px;
            }
          }

          &.bgc__1,
          &.bgc__2 {
            display: none;
          }

          & > p {
            text-align: justify;
          }
        }
      }
    }

    .card-sponsors {
      height: 100%;
      margin-bottom: 5rem;

      .card-sponsors__title {
        margin: 2rem 0;
      }

      .card-sponsors__content {
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.84);
        padding: 3rem;
        row-gap: 4rem;
        border-radius: 1rem;
      }
    }

    .card-clients {
      width: 100%;
      height: 100%;

      .card-clients__title {
        margin: 2rem 0;
      }
      .card-clients__content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card-client {
          margin: 2rem 0;
        }
      }
    }
  }
}
